
    header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
    a:hover {
        color:gold!important;
    }
    .sidenav a, .sidenav .fas, .sidenav .far, .sidenav .material-icons {
        color: white !important;
    }
    #slide-out, nav {
        background-color: #343F56;
         
        
    }
    .logo {
        margin-left: 10px !important;
    }
    

    
    